/*
tab.groups.theme-folders
tab.groups.fill-folders
tab.groups.display-tab-range
*/

@media (-moz-bool-pref: "user.tab-groups") {
    @media (-moz-bool-pref: "zen.tabs.vertical") {
        tab-group {
            @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
                width: var(--tab-min-width) !important;
            }

            display: grid !important;

            border-radius: calc(var(--border-radius-medium) + 2px) !important;
            margin: 2px 2px 2px 2px;
            padding: 1px 0px !important;
            transition: max-height 0.75s cubic-bezier(0.4, 0, 0.2, 1);
            margin-left: 4px !important;
            overflow: hidden !important;

            & .tab-group-label-container {
                --tab-group-color-pale: transparent !important;
                --tab-group-color: transparent !important;
                margin: 0 !important;
                padding: 0 !important;
                display: flex !important;
                align-content: center !important;
                height: 36px !important;
                border-radius: calc(var(--border-radius-medium) + 2px) !important;
                transition: transform 0.2s ease;
                transition: background-color 0.2s ease;
                width: 100% !important;

                @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
                    width: 30px !important;
                }

                &:hover {
                    background-color: var(--tab-hover-background-color) !important;
                }

                &:after {
                    display: none;
                    padding: 0px !important;
                    background-color: color-mix(in srgb,
                            var(--tab-group-color) 50%,
                            transparent) !important;
                }

                &>label {
                    max-width: 100% !important;
                    width: 100% !important;
                    background: transparent !important;
                    border: none !important;
                    font-weight: 400 !important;
                    text-align: center !important;
                    color: var(--sidebar-text-color) !important;
                    margin: 0 !important;
                    display: flex !important;
                    justify-content: flex-start !important;
                    align-content: flex-start !important;
                    padding-left: 34.5px !important;
                    font-size: 15px !important;
                    margin-top: 0px !important;

                    @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
                        color: transparent !important;
                    }
                }

                &>label::before {
                    content: "" !important;
                    position: absolute !important;
                    left: 6px !important;
                    top: 16% !important;
                    width: 19px !important;
                    height: 19px !important;

                    @media (-moz-bool-pref: "tab.groups.theme-folders") {
                        background-color: color-mix(in srgb,
                                var(--tab-group-color-invert) 100%,
                                transparent) !important;
                    }

                    @media not (-moz-bool-pref: "tab.groups.theme-folders") {
                        background-color: var(--sidebar-text-color) !important;
                    }

                    @media not (-moz-bool-pref: "tab.groups.fill-folders") {
                        mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjAgOS41MDJWOC43NWEyLjI1IDIuMjUgMCAwIDAtMi4yNS0yLjI1aC01LjcyNWwtMi4zOC0xLjk4QTIuMjUgMi4yNSAwIDAgMCA4LjIwNCA0SDQuMjVBMi4yNSAyLjI1IDAgMCAwIDIgNi4yNWwtLjAwNCAxMS41QTIuMjUgMi4yNSAwIDAgMCA0LjI0NiAyMEgxOC40N2ExLjc1IDEuNzUgMCAwIDAgMS42OTgtMS4zMjVsMS43NS02Ljk5OGExLjc1IDEuNzUgMCAwIDAtMS42OTgtMi4xNzVIMjBaTTQuMjUgNS41aDMuOTU2YS43NS43NSAwIDAgMSAuNDguMTczbDIuNTg4IDIuMTU0YS43NS43NSAwIDAgMCAuNDguMTczaDUuOTk2YS43NS43NSAwIDAgMSAuNzUuNzV2Ljc1Mkg2LjQyNGEyLjI1IDIuMjUgMCAwIDAtMi4xODMgMS43MDRsLS43NDQgMi45NzhMMy41IDYuMjVhLjc1Ljc1IDAgMCAxIC43NS0uNzVabTEuNDQ3IDYuMDdhLjc1Ljc1IDAgMCAxIC43MjctLjU2OEgyMC4yMmEuMjUuMjUgMCAwIDEgLjI0Mi4zMWwtMS43NSA2Ljk5OWEuMjUuMjUgMCAwIDEtLjI0Mi4xODlINC4yODVhLjI1LjI1IDAgMCAxLS4yNDMtLjMxbDEuNjU1LTYuNjJaIiBmaWxsPSIjMDAwMDAwIi8+PC9zdmc+");
                    }

                    @media (-moz-bool-pref: "tab.groups.fill-folders") {
                        mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8IS0tIEZvbGRlciBiYXNlIC0tPgogIDxwYXRoIGQ9Ik0yIDYuMjVDMiA1LjAwNyAzLjAwNyA0IDQuMjUgNGgzLjk1NmMuNDYgMCAuOTA4LjE0MSAxLjI4NC40MDJsLjE1Ni4xMiAyLjU4OCAyLjE1NGg1Ljk5NkEyLjI1IDIuMjUgMCAwIDEgMjAgOC43NXYuNzUyaC40NzJhMS43NSAxLjc1IDAgMCAxIDEuNjk4IDIuMTc1bC0xLjc1IDYuOTk4QTEuNzUgMS43NSAwIDAgMSAxOC40NzEgMjBINC4yNDZBMi4yNSAyLjI1IDAgMCAxIDIgMTcuNzVWNi4yNVoiIGZpbGw9ImJsYWNrIi8+CiAgPCEtLSBTdWJ0bGUgb3BlbiBlZmZlY3QgLS0+CiAgPHBhdGggZD0iTTMgOWgxOHYxSDN6IiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
                    }

                    mask-size: contain;
                    mask-repeat: no-repeat;
                    background-size: contain !important;
                    background-repeat: no-repeat !important;
                }
            }

            & tab {
                --tab-group-color-invert: transparent !important;
                --tab-group-color: transparent !important;
                opacity: 1 !important;
                margin-left: 18px !important;
                transition: font-size 0.3s, margin 0.3s, padding 0.3s, opacity 0.3s !important;
                transition-delay: 0.10s !important;
                overflow: visible !important;
                transition: scale 0.07s ease;



                .tab-background:active {
                    backdrop-filter: blur(10px) !important;
                }

                @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
                    margin-left: 0 !important;
                }
            }

            @media (-moz-bool-pref: "tab.groups.display-tab-range") {
                & tab::before {
                    content: "";
                    position: absolute;
                    left: -5px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 2px;
                    height: 41px;
                    background-color: #303030;
                    border-radius: 360px !important;
                    z-index: 999 !important;
                }
            }

            &[collapsed] {
                max-height: 36px !important;
                transition: max-height 0.5s ease;

                & .tab-group-label-container {
                    &:after {
                        content: "" !important;
                        height: 2px !important;
                        position: absolute !important;
                        inset: auto 0 0 !important;
                    }
                }

                & tab {
                    opacity: 0 !important;
                    transition: opacity 0.4s ease-in, font-size 0.4s ease-out,
                        margin 0.4s ease-out, padding 0.4s ease-out !important;
                }

                & .tab-group-label-container>label::before {
                    content: "" !important;
                    position: absolute !important;
                    left: 6px !important;
                    top: 16% !important;
                    width: 19px !important;
                    height: 19px !important;

                    @media not (-moz-bool-pref: "tab.groups.fill-folders") {
                        mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4yMDcgNGMuNDYgMCAuOTA4LjE0MSAxLjI4NC40MDJsLjE1Ni4xMkwxMi4wMjIgNi41aDcuNzI4YTIuMjUgMi4yNSAwIDAgMSAyLjIyOSAxLjkzOGwuMDE2LjE1OC4wMDUuMTU0djlhMi4yNSAyLjI1IDAgMCAxLTIuMDk2IDIuMjQ1TDE5Ljc1IDIwSDQuMjVhMi4yNSAyLjI1IDAgMCAxLTIuMjQ1LTIuMDk2TDIgMTcuNzVWNi4yNWEyLjI1IDIuMjUgMCAwIDEgMi4wOTYtMi4yNDVMNC4yNSA0aDMuOTU3Wm0xLjQ0IDUuOTc5YTIuMjUgMi4yNSAwIDAgMS0xLjI0NC45MTJsLS4xOTYuMDA5LTQuNzA3LS4wMDF2Ny4yNTFjMCAuMzguMjgyLjY5NC42NDguNzQzbC4xMDIuMDA3aDE1LjVhLjc1Ljc1IDAgMCAwIC43NDMtLjY0OGwuMDA3LS4xMDJ2LTlhLjc1Ljc1IDAgMCAwLS42NDgtLjc0M0wxOS43NSA4aC03LjcyOUw5LjY0NyA5Ljk3OVpNOC4yMDcgNS41SDQuMjVhLjc1Ljc1IDAgMCAwLS43NDMuNjQ4TDMuNSA2LjI1djIuNzQ5TDguMjA3IDlhLjc1Ljc1IDAgMCAwIC4zOTUtLjExM2wuMDg1LS4wNiAxLjg5MS0xLjU3OC0xLjg5LTEuNTc1YS43NS43NSAwIDAgMC0uMzc3LS4xNjdMOC4yMDcgNS41WiIgZmlsbD0iIzAwMDAwMCIvPjwvc3ZnPg==");
                    }

                    @media (-moz-bool-pref: "tab.groups.fill-folders") {
                        mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8IS0tIEVudGlyZSBmb2xkZXIgZmlsbGVkIC0tPgogIDxwYXRoIGQ9Ik0yIDYuMjVDMiA1LjAwNyAzLjAwNyA0IDQuMjUgNGgzLjk1N2MuNDYgMCAuOTA4LjE0MSAxLjI4NC40MDJsLjE1Ni4xMiAyLjM3NSAxLjk3OGg3LjcyOGMxLjE5IDAgMi4xOC44NzcgMi4yNDUgMi4wMzNMMjIgOC4yNXY5YzAgMS4yNDMtMS4wMDcgMi4yNS0yLjI1IDIuMjVINC4yNUMzLjAwNyAxOS41IDIgMTguNDkzIDIgMTcuMjV2LTExeiIgZmlsbD0iI0ZGRDcwMCIgLz4KPC9zdmc+");
                    }

                    mask-size: contain;
                    mask-repeat: no-repeat;
                    background-size: contain !important;
                    background-repeat: no-repeat !important;
                }
            }

            /* Expand when NOT collapsed */
            &:not([collapsed]) {
                max-height: 100%;
                padding-top: 0;
                overflow-y: auto !important;
            }

            tab-group:has(tab[hidden]) {
                display: none !important;
            }

            /* Hide close button */
            .tab-close-button {
                display: none !important;
            }
        }
    }

    #tabbrowser-tabs {
        & .tabbrowser-tab {
            &:active {
                transition: scale 0.03s !important;
                scale: 0.98;
            }
        }
    }


    /* Style expanded (active) tab groups in show all menu */
    .all-tabs-group-button {
        .toolbarbutton-icon {
            @media not (-moz-bool-pref: "tab.groups.theme-folders") {
                fill: #ffffff !important;
            }

            @media not (-moz-bool-pref: "tab.groups.fill-folders") {
                mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjAgOS41MDJWOC43NWEyLjI1IDIuMjUgMCAwIDAtMi4yNS0yLjI1aC01LjcyNWwtMi4zOC0xLjk4QTIuMjUgMi4yNSAwIDAgMCA4LjIwNCA0SDQuMjVBMi4yNSAyLjI1IDAgMCAwIDIgNi4yNWwtLjAwNCAxMS41QTIuMjUgMi4yNSAwIDAgMCA0LjI0NiAyMEgxOC40N2ExLjc1IDEuNzUgMCAwIDAgMS42OTgtMS4zMjVsMS43NS02Ljk5OGExLjc1IDEuNzUgMCAwIDAtMS42OTgtMi4xNzVIMjBaTTQuMjUgNS41aDMuOTU2YS43NS43NSAwIDAgMSAuNDguMTczbDIuNTg4IDIuMTU0YS43NS43NSAwIDAgMCAuNDguMTczaDUuOTk2YS43NS43NSAwIDAgMSAuNzUuNzV2Ljc1Mkg2LjQyNGEyLjI1IDIuMjUgMCAwIDAtMi4xODMgMS43MDRsLS43NDQgMi45NzhMMy41IDYuMjVhLjc1Ljc1IDAgMCAxIC43NS0uNzVabTEuNDQ3IDYuMDdhLjc1Ljc1IDAgMCAxIC43MjctLjU2OEgyMC4yMmEuMjUuMjUgMCAwIDEgLjI0Mi4zMWwtMS43NSA2Ljk5OWEuMjUuMjUgMCAwIDEtLjI0Mi4xODlINC4yODVhLjI1LjI1IDAgMCAxLS4yNDMtLjMxbDEuNjU1LTYuNjJaIiBmaWxsPSIjMDAwMDAwIi8+PC9zdmc+");
            }

            @media (-moz-bool-pref: "tab.groups.fill-folders") {
                mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8IS0tIEZvbGRlciBiYXNlIC0tPgogIDxwYXRoIGQ9Ik0yIDYuMjVDMiA1LjAwNyAzLjAwNyA0IDQuMjUgNGgzLjk1NmMuNDYgMCAuOTA4LjE0MSAxLjI4NC40MDJsLjE1Ni4xMiAyLjU4OCAyLjE1NGg1Ljk5NkEyLjI1IDIuMjUgMCAwIDEgMjAgOC43NXYuNzUyaC40NzJhMS43NSAxLjc1IDAgMCAxIDEuNjk4IDIuMTc1bC0xLjc1IDYuOTk4QTEuNzUgMS43NSAwIDAgMSAxOC40NzEgMjBINC4yNDZBMi4yNSAyLjI1IDAgMCAxIDIgMTcuNzVWNi4yNVoiIGZpbGw9ImJsYWNrIi8+CiAgPCEtLSBTdWJ0bGUgb3BlbiBlZmZlY3QgLS0+CiAgPHBhdGggZD0iTTMgOWgxOHYxSDN6IiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
            }

            width: 16px !important;
            height: 16px !important;
            mask-size: contain;
            mask-repeat: no-repeat;
            background-size: contain !important;
            background-repeat: no-repeat !important;
        }
    }

    #context_moveTabToGroupPopupMenu {
        .menu-iconic-icon {
            @media not (-moz-bool-pref: "tab.groups.theme-folders") {
                fill: #ffffff !important;
            }

            @media not (-moz-bool-pref: "tab.groups.fill-folders") {
                mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4yMDcgNGMuNDYgMCAuOTA4LjE0MSAxLjI4NC40MDJsLjE1Ni4xMkwxMi4wMjIgNi41aDcuNzI4YTIuMjUgMi4yNSAwIDAgMSAyLjIyOSAxLjkzOGwuMDE2LjE1OC4wMDUuMTU0djlhMi4yNSAyLjI1IDAgMCAxLTIuMDk2IDIuMjQ1TDE5Ljc1IDIwSDQuMjVhMi4yNSAyLjI1IDAgMCAxLTIuMjQ1LTIuMDk2TDIgMTcuNzVWNi4yNWEyLjI1IDIuMjUgMCAwIDEgMi4wOTYtMi4yNDVMNC4yNSA0aDMuOTU3Wm0xLjQ0IDUuOTc5YTIuMjUgMi4yNSAwIDAgMS0xLjI0NC45MTJsLS4xOTYuMDA5LTQuNzA3LS4wMDF2Ny4yNTFjMCAuMzguMjgyLjY5NC42NDguNzQzbC4xMDIuMDA3aDE1LjVhLjc1Ljc1IDAgMCAwIC43NDMtLjY0OGwuMDA3LS4xMDJ2LTlhLjc1Ljc1IDAgMCAwLS42NDgtLjc0M0wxOS43NSA4aC03LjcyOUw5LjY0NyA5Ljk3OVpNOC4yMDcgNS41SDQuMjVhLjc1Ljc1IDAgMCAwLS43NDMuNjQ4TDMuNSA2LjI1djIuNzQ5TDguMjA3IDlhLjc1Ljc1IDAgMCAwIC4zOTUtLjExM2wuMDg1LS4wNiAxLjg5MS0xLjU3OC0xLjg5LTEuNTc1YS43NS43NSAwIDAgMC0uMzc3LS4xNjdMOC4yMDcgNS41WiIgZmlsbD0iIzAwMDAwMCIvPjwvc3ZnPg==");
            }

            @media (-moz-bool-pref: "tab.groups.fill-folders") {
                mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8IS0tIEVudGlyZSBmb2xkZXIgZmlsbGVkIC0tPgogIDxwYXRoIGQ9Ik0yIDYuMjVDMiA1LjAwNyAzLjAwNyA0IDQuMjUgNGgzLjk1N2MuNDYgMCAuOTA4LjE0MSAxLjI4NC40MDJsLjE1Ni4xMiAyLjM3NSAxLjk3OGg3LjcyOGMxLjE5IDAgMi4xOC44NzcgMi4yNDUgMi4wMzNMMjIgOC4yNXY5YzAgMS4yNDMtMS4wMDcgMi4yNS0yLjI1IDIuMjVINC4yNUMzLjAwNyAxOS41IDIgMTguNDkzIDIgMTcuMjV2LTExeiIgZmlsbD0iI0ZGRDcwMCIgLz4KPC9zdmc+");
            }

            mask-size: contain;
            mask-repeat: no-repeat;
            background-size: contain !important;
            background-repeat: no-repeat !important;
        }
    }
}
